<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
     <div class="row">
        <!-- ====menu==== -->
        <div class="menu col l-3 m-0 c-0">

          <ul class="menu-nav l-3 m-0 c-0">
            <img src="/img/logo.png" width="148px">
          </ul>

          <ul class="main">
          <ul class="menu-ul">
            <li class="menu-ul_li">
              <a href="#">
                <i class="ti-home"></i>
                Danh mục
                

  

                    <li class="menu-ul_li-inside_li">
                      <a class="menu-ul_li-inside_a" href="http://localhost:3000/private/dsdichvu">
                        <i class="ti-receipt"></i>
                        Danh mục dịch vụ
                      </a>
                    </li>

                    <li class="menu-ul_li-inside_li">
                      <a class="menu-ul_li-inside_a" href="http://localhost:3000/private/thucdonmonan">
                        <i class="ti-bookmark-alt"></i>
                        Danh mục món ăn
                     </a>
                    </li>

                    
                  </li>


              </a>
            </li>
            <li class="menu-ul_li">
              <a href="#">
                <i class="ti-user"></i>
                Khách hàng

                <li class="menu-ul_li-inside">
                  <li class="menu-ul_li-inside_li">
                    <a class="menu-ul_li-inside_a" href="http://localhost:3000/private/khachhang">
                      <i class="ti-id-badge"></i>
                      Tạo hồ sơ khách hàng
                   </a>
                  </li>

                  <li class="menu-ul_li-inside_li">
                    <a class="menu-ul_li-inside_a" href="http://localhost:3000/private/dskhachhang">
                      <i class="ti-cloud-down"></i>
                      Danh sách khách hàng
                    </a>
                  </li>

                </li>

              </a>
            </li>
            
            <li class="menu-ul_li">
              <a href="#">
                <i class="ti-direction"></i>
                Phòng
                <li class="menu-ul_li-inside">
                  <li class="menu-ul_li-inside_li">
                    <a class="menu-ul_li-inside_a" href="http://localhost:3000/private/datphong">
                      <i class="ti-stamp"></i>
                      Đặt phòng
                   </a>
                  </li>

                  <li class="menu-ul_li-inside_li">
                    <a class="menu-ul_li-inside_a" href="http://localhost:3000/private/doiphong">
                      <i class="ti-layout-media-right"></i>
                      Đổi phòng
                    </a>
                  </li>

                  <li class="menu-ul_li-inside_li">
                    <a class="menu-ul_li-inside_a" href="http://localhost:3000/private/giahan">
                      <i class="ti-timer"></i>
                      Gia hạn phòng
                   </a>
                  </li>

                </li>
              </a>
            </li>
            <li class="menu-ul_li">
              <a href="#">
                <i class="ti-clipboard"></i>
                Dịch vụ
                <li class="menu-ul_li-inside">
                  <li class="menu-ul_li-inside_li">
                    <a class="menu-ul_li-inside_a" href="http://localhost:3000/private/sudungdichvu">
                      <i class="ti-layout-grid2"></i>
                      Đặt dịch vụ
                   </a>
                  </li>

                  <li class="menu-ul_li-inside_li">
                    <a class="menu-ul_li-inside_a" href="http://localhost:3000/private/dattiec">
                      <i class="ti-agenda"></i>
                      Đặt tiệc
                    </a>
                  </li>

                </li>
              </a>
            </li>
            <li class="menu-ul_li">
              <a href="#">
                <i class="far fa-plus-square"></i>
                Tạo
                <li class="menu-ul_li-inside">
                  <li class="menu-ul_li-inside_li">
                    <a class="menu-ul_li-inside_a" href="http://localhost:3000/private/dichvu">
                      <i class="far fa-plus-square"></i>
                      Tạo dịch vụ
                   </a>
                  </li>

                  <li class="menu-ul_li-inside_li">
                    <a class="menu-ul_li-inside_a" href="http://localhost:3000/private/themmonan">
                      <i class="far fa-plus-square"></i>
                      Thêm món ăn
                    </a>
                  </li>

                </li>
              </a>
            </li>
            <li class="menu-ul_li">
              <a href="#">
                <i class="ti-face-smile"></i>
                Hóa đơn
                <li class="menu-ul_li-inside">
                  <li class="menu-ul_li-inside_li">
                    <a class="menu-ul_li-inside_a" href="http://localhost:3000/private/traphong">
                      <i class="ti-receipt"></i>
                      Thanh toán trả phòng
                   </a>
                  </li>

                  <li class="menu-ul_li-inside_li">
                    <a class="menu-ul_li-inside_a" href="http://localhost:3000/private/hddichvu">
                      <i class="ti-printer"></i>
                      Thanh toán dịch vụ
                    </a>
                  </li>

                  <li class="menu-ul_li-inside_li">
                    <a class="menu-ul_li-inside_a" href="http://localhost:3000/private/hddattiecsearch">
                      <i class="ti-rocket"></i>
                      Thanh toán đặt tiệc
                   </a>
                  </li>

                  <li class="menu-ul_li-inside_li">
                    <a class="menu-ul_li-inside_a" href="http://localhost:3000/private/hdsuco">
                      <i class="ti-money"></i>
                      Thanh toán sự cố
                    </a>
                  </li>

                  <li class="menu-ul_li-inside_li">
                    <a class="menu-ul_li-inside_a" href="http://localhost:3000/private/hdtong">
                      <i class="ti-printer"></i>
                      Thanh toán tổng
                    </a>
                  </li>
                </li>
              </a>
            </li>
            <li class="menu-ul_li">
              <a href="#">
                <i class="ti-user"></i>
                Báo biểu
                 
                <li class="menu-ul_li-inside">
                  <li class="menu-ul_li-inside_li">
                    <a class="menu-ul_li-inside_a" href="http://localhost:3000/private/thongketheongay">
                      <i class="ti-layout-grid2"></i>
                      Thống kê khách theo ngày
                   </a>
                  </li>

                  <li class="menu-ul_li-inside_li">
                    <a class="menu-ul_li-inside_a" href="http://localhost:3000/private/thongketheothang">
                      <i class="ti-agenda"></i>
                      Thống kê khách theo tháng
                    </a>
                  </li>

                </li>
              </a>
            </li>
          </ul>
          
          </ul>


        </div>
        <!-- ====menu-end==== -->

        <!-- ====content==== -->
        <div class="menu col l-9 m-12 c-12">       
          <nav class="content-nav">

            <ul class="l-3 content-nav_chuong_cachle1">
              <li>GonT</li>
            </ul>
            
            <ul class="l-8 m-0 c-0 content-nav_chuong_cachle">
              <li class="tro_giup content-nav_chuong">
              <i class="ti-help-alt"></i>
              Trợ Giúp
              <div class="header__notify-giup">
                <header class="header__notify-header-giup">
                    <input type="text" placeholder="Nhập thông tin tìm kiếm tại đây">               
                </header>
                <ul class="header__notify-list-giup">
                    <li class="header__notify-item-giup header__notify-colorbackround-giup">
                        <a href="" class="header__notify-link-giup"> 
                          - Hỗ trợ thiết bị bán hàng                      
                        </a>
                    </li>
                </ul>
  
                <ul class="header__notify-list-giup">
                    <li class="header__notify-item-giup header__notify-colorbackround-giup">
                        <a href="" class="header__notify-link-giup">
                          - Tài liệu hướng dẫn
                        </a>
                    </li>
                </ul>
  
                <ul class="header__notify-list-giup">
                    <li class="header__notify-item-giup header__notify-colorbackround-giup">
                        <a href="" class="header__notify-link-giup">
                          - Giao diện tổng quan
                        </a>
                    </li>
                </ul>
  
                <div class="header__notify-footer">
                    <a href="" class="header__notify-footer-btn"> 
                      <i class="fas fa-phone-alt"></i>
                    0338091539
                    </a>
                    <a href="" class="header__notify-footer-btn">   
                      <i class="fas fa-envelope"></i>
                      Gửi hỗ trợ
                    </a>
                </div>
            </div>
              </li>
              <li class="js-buy-ticket content-nav_chuong">
              <i class="ti-heart"></i>
               Góp ý
              </li> 
              <li class="info content-nav_chuong">
              
              <img src="/img/img_user.jpg" width="28px">
              NguyenPhucThanh
              <div class="for_info">
                <ul>
                  <li>
                    <a href="">
                      <i class="fas fa-user-circle"></i>
                    Tài khoản
                    </a>
                  </li>
                  <li class="dich_vu">
                    <a href="">
                      <i class="fas fa-concierge-bell"></i>
                    Gói dịch vụ
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <i class="ti-book"></i>
                    Điều khoản dịch vụ
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <i class="fas fa-shield-alt"></i>
                    Chính sách bảo mật
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <i class="fas fa-headset"></i>
                    Hỗ Trợ
                    </a>
                  </li>          
                  <li class="dang_xuat">
                    <a href="">
                      <i class="fas fa-sign-out-alt"></i> 
                    Đăng xuất
                    </a>             
                 </li>                  
                </ul>                    
              </li>              
              <li class="bell content-nav_chuong">
            <i class="ti-bell"></i>
            <div class="header__notify">
              <header class="header__notify-header">
                  <h3>Thông Báo Mới Nhận </h3>                 
              </header>
              <ul class="header__notify-list">
                  <li class="header__notify-item header__notify-colorbackround">
                      <a href="" class="header__notify-link">
                      <img src="/img/dichco.jpg" alt="" class="header__notify-img">
                      <div class="header__notify-info">
                          <span class="header__notify-name"> Cai nay là cái tên ở Trên</span>
                          <span class="header__notify-description"> Cai nay là cái tên ở Dưới</span>
                      </div>
                      </a>
                  </li>
              </ul>

              <ul class="header__notify-list">
                  <li class="header__notify-item header__notify-colorbackround">
                      <a href="" class="header__notify-link">
                      <img src="/img/dichco.jpg" alt="" class="header__notify-img">
                      <div class="header__notify-info">
                          <span class="header__notify-name"> Cai nay là cái tên ở Trên</span>
                          <span class="header__notify-description"> Cai nay là cái tên ở Dưới </span>
                      </div>
                      </a>
                  </li>
              </ul>

              <ul class="header__notify-list">
                  <li class="header__notify-item   header__notify-colorbackround">
                      <a href="" class="header__notify-link">
                      <img src="/img/dichco.jpg" alt="" class="header__notify-img">
                      <div class="header__notify-info">
                          <span class="header__notify-name"> Cai nay là cái tên ở Trên</span>
                          <span class="header__notify-description"> Cai nay là cái tên ở Duoi </span>
                      </div>
                      </a>
                  </li>
              </ul>

              <div class="header__notify-footer">
                  <a href="" class="header__notify-footer-btn">   
                  Xem tất cả
                  </a>
              </div>
          </div>
              </li>  
            </ul>   

          </nav> 


           
            <!-- ===content__Phieu Dat Tiec==== -->
            <div class="content-container">
              <div class="tieu_de">
                <div class="tieu_de-text">
                  Hóa đơn dịch vụ
                </div>
                <div class="tieu_de-huong-dan">
                  <a href="">
                  <i class="fas fa-exclamation-circle"></i>
                  Hướng dẫn
                  </a>
                </div>
              </div>
                    
  
              <div class="noi_dung-1">
                <div class="l-8 m-12 c-12">
                <div class="bang_lon ">
                  <div class="noi_dung-1-text_name name_hd l-12 m-0 c-0">Thông tin hóa đơn</div>
                  
                  <div class="box_name">
                    <div>
                      <p>Công ty khách sạn:</p>
                      <p>Địa chỉ:</p>
                    </div>    
                  
                    <div class="first"> 
                      <p>GonT</p>
                      <p>144A Chi Lăng Vũng Tàu</p>
                    </div>
                  </div>
                  



                  <div class="box">
  
                    <div class="box-trong l-5">
          
                      <div class="noi_dung-1-text_noi-dung">
                        <div class="noi_dung-1-text_noi-dung_hoten">CMND: </div>
                          <p id="cmnd" name="cmnd"> </p>
                      </div>              
                     
                    </div>
                  </div>
                  <div class="noi_dung-1-text_noi-dung">
                    <div class="noi_dung-1-text_noi-dung_hoten">Họ tên: </div>
                    <p id="name" name="name"> </p>
                  </div>
                  <table style="width:100%; border:1px solid black;">
                    <thead>
                        <tr>
                       <th>
                          Số thứ tự
                      </th>
                     
                      <th>
                        Loại dịch vụ
                      </th>
                      <th>
                        Số lượng
                      </th>
                      <th>
                        Đơn giá
                      </th>
                      <th>
                        Thành tiền
                      </th>
                    </tr>
                    </thead>
                    <tbody id="tbody">

                    </tbody>
                    
                  </table>
                  

    
                    <div class="box-trong l-5">
                      <div class="noi_dung-1-text_noi-dung">
                        <div class="noi_dung-1-text_noi-dung_hoten" >Tổng tiền thanh toán</div>
                        <p> (*)</p>
                      </div>
                      <div class="box-trong_om">
                        <span class="box-trong_text" id="total" name="total"> </span>
                      </div> 
                    </div>
                
                </div>

              </div>
                
  
           
  
  
              </div>
  
              <div class="bottom-nav">
                <button class="bottom-nav_huy">
                  Hủy         
                </button>
  
                <button class="bottom-nav_luu" type="button" id="save_btn">
                  Lưu           
                </button>
             
              </div>
      
            </div>         
           <!-- ===content__Phieu Dat Tiec-end==== -->

  
          </div>
          <!-- ====content-end==== -->
      </div>
 
        <!-- ====content-end==== -->



    </div>

<!-- ===Gop_Y=== -->
    <div class="modal js-modal">
      <div class="modal-container js-modal-container">

          <div class="modal-close js-modal-close">
            <i class="ti-close"></i>
          </div>

          <div class="modal-header">
              Gửi góp ý
          </div>

          <div class="modal-body">
              <input id="quantity" type="text" class="modal-input" placeholder="Vui Lòng nhập góp ý của bạn vào đây !">

              <button class=modal-pay>
                  Gửi 
                  <i class="ti-check"></i>
              </button>

              <div class="modal-footer">
                  <p class="modal-help">
                      Need 
                      <a href="">
                          Help?
                      </a>
                  </p>
              </div>        
          </div>
      </div>
   
</div>

<script>      
     // dong/mo Modal
      const buyBtns = document.querySelectorAll('.js-buy-ticket');
      const modal = document.querySelector('.js-modal')
      const modalclose = document.querySelector('.js-modal-close')
      const modalcontainer = document.querySelector('.js-modal-container')

      function Showbuytickets() {
        modal.classList.add('open')
      }
      function hidebuyticket (){
        modal.classList.remove('open')
      }      

      for(const buyBtn of buyBtns){
        buyBtn.addEventListener('click',Showbuytickets)
      }

      modalclose.addEventListener('click',hidebuyticket)
      modal.addEventListener('click',hidebuyticket)
      modalcontainer.addEventListener('click', function(even){
        even.stopPropagation()
      })
</script>
<script>
  $(document).ready(()=>{
    const key = window.localStorage.getItem('key')
    $.ajax({
      url: `/private/getTicket/${key}`,
      type: 'GET',
      success: (data)=>{
        $('#cmnd').text(`${data[0]['cmnd']}`)
        $('#name').text(`${data[0]['name']}`)
        let totalMoney = 0
        
        data.forEach((el,index)=>{
          totalMoney += el['IntoMoney']
          const data = `
            <tr>
                       <th>
                          ${index +1}
                      </th>
                      
                      <th id="nameService" name="nameService">
                        ${el['nameService']}
                      </th>
                      <th id="amount" name="amount">
                        ${el['amount']}
                      </th>
                      <th id="price" name="price">
                        ${el['price']}
                      </th>
                      <th id="IntoMoney" name="IntoMoney">
                        ${el['IntoMoney'].toLocaleString('vi', {style : 'currency', currency : 'VND'})}
                      </th>
                    </tr>
          
           `
          $('#tbody').append(data)
          $('#total').text(`${totalMoney.toLocaleString('vi', {style : 'currency', currency : 'VND'})}`)
          
        })
        
        
      },
      error:(data)=>{
        console.error('error')
      }
    })


    $('#save_btn').click(()=>{
      const key = window.localStorage.getItem('key')
      $.ajax({
        url: `/private/get/${key}`,
        type: 'GET',
        success:(data)=>{
          let serviceDate = []
          let total = 0
          data.forEach((el,index)=>{
            serviceDate.push({'nameService': el['nameService'],'amount':el['amount'], 'price':el['price'],'IntoMoney':el['IntoMoney']})
            total += el['IntoMoney']
          })
          const dataBill = {
            'name': data[0]['name'],
            'cmnd': data[0]['cmnd'],
            'service': serviceDate,
            'totalMoney': total
            
            
          }
          $.ajax({
            url: '/private/hddichvu',
            type: 'POST',
            data: dataBill,
           

          }).then((res)=>{alert('Save successfully'); window.location.replace('/private/sudungdichvu');})
          .catch((res)=>{alert('Save error ')})
        },
        error:(data)=>{
          console.error(data)
        }
      })
    })

    
  })
  
 


   


</script>
{{!-- CREATE AJAX DATA FORM: {} => POST => SUCCESS OR ERROR --}}
<!-- ===Gop_Y-end=== -->
