<div class="row">
        <!-- ====menu==== -->
        <div class="menu col l-3 m-0 c-0">

          <ul class="menu-nav l-3 m-0 c-0">
            <img src="/img/logo.png" width="148px">
          </ul>

          <ul class="main">
          <ul class="menu-ul">
            <li class="menu-ul_li">
              <a href="">
                <i class="ti-home"></i>
                Tổng quan
              </a>
            </li>
            <li class="menu-ul_li">
              <a href="">
                <i class="ti-stats-up"></i>
                Báo cáo
              </a>
            </li>
            <li class="menu-ul_li">
              <a href="">
                <i class="ti-credit-card"></i>
                Hóa đơn
              </a>
            </li>
            <li class="menu-ul_li">
              <a href="">
                <i class="ti-shopping-cart-full"></i>
                Mặt hàng
              </a>
            </li>
            <li class="menu-ul_li">
              <a href="">
                <i class="ti-clipboard"></i>
                Đặt bàn
              </a>
            </li>
            <li class="menu-ul_li">
              <a href="">
                <i class="ti-face-smile"></i>
                Nhân viên
              </a>
            </li>
            <li class="menu-ul_li">
              <a href="">
                <i class="ti-user"></i>
                Khách hàng
              </a>
            </li>
            <li class="menu-ul_li">
              <a href="">
                <i class="ti-id-badge"></i>
                Nhân viên Chuỗi
              </a>
            </li>
            <li class="menu-ul_li">
              <a href="">
                <i class="ti-alarm-clock"></i>
                Khuyến mãi
              </a>
            </li>
            <li class="menu-ul_li">
              <a href="">
                <i class="ti-archive"></i>
                Kho hàng
              </a>
            </li>
            <li class="menu-ul_li">
              <a href="">
                <i class="ti-bar-chart"></i>
                Thu chi
              </a>
            </li>
            <li class="menu-ul_li">
              <a href="">
                <i class="ti-archive"></i>
                Kho hàng
              </a>
            </li>
            <li class="menu-ul_li">
              <a href="">
                <i class="ti-bar-chart"></i>
                Thu chi
              </a>
            </li>         
          </ul>
          </ul>


        </div>
        <!-- ====menu-end==== -->

        <!-- ====content==== -->
        <div class="menu col l-9 m-12 c-12">       
          <nav class="content-nav">

            <ul class="l-3 content-nav_chuong_cachle1">
              <li>GonT</li>
            </ul>
            
            <ul class="l-8 m-0 c-0 content-nav_chuong_cachle">
              <li class="tro_giup content-nav_chuong">
              <i class="ti-help-alt"></i>
              Trợ Giúp
              <div class="header__notify-giup">
                <header class="header__notify-header-giup">
                    <input type="text" placeholder="Nhập thông tin tìm kiếm tại đây">               
                </header>
                <ul class="header__notify-list-giup">
                    <li class="header__notify-item-giup header__notify-colorbackround-giup">
                        <a href="" class="header__notify-link-giup"> 
                          - Hỗ trợ thiết bị bán hàng                      
                        </a>
                    </li>
                </ul>
  
                <ul class="header__notify-list-giup">
                    <li class="header__notify-item-giup header__notify-colorbackround-giup">
                        <a href="" class="header__notify-link-giup">
                          - Tài liệu hướng dẫn
                        </a>
                    </li>
                </ul>
  
                <ul class="header__notify-list-giup">
                    <li class="header__notify-item-giup header__notify-colorbackround-giup">
                        <a href="" class="header__notify-link-giup">
                          - Giao diện tổng quan
                        </a>
                    </li>
                </ul>
  
                <div class="header__notify-footer">
                    <a href="" class="header__notify-footer-btn"> 
                      <i class="fas fa-phone-alt"></i>
                    0338091539
                    </a>
                    <a href="" class="header__notify-footer-btn">   
                      <i class="fas fa-envelope"></i>
                      Gửi hỗ trợ
                    </a>
                </div>
            </div>
              </li>
              <li class="js-buy-ticket content-nav_chuong">
              <i class="ti-heart"></i>
               Góp ý
              </li> 
              <li class="info content-nav_chuong">
              
              <img src="/img/img_user.jpg" width="28px">
              NguyenPhucThanh
              <div class="for_info">
                <ul>
                  <li>
                    <a href="">
                      <i class="fas fa-user-circle"></i>
                    Tài khoản
                    </a>
                  </li>
                  <li class="dich_vu">
                    <a href="">
                      <i class="fas fa-concierge-bell"></i>
                    Gói dịch vụ
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <i class="ti-book"></i>
                    Điều khoản dịch vụ
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <i class="fas fa-shield-alt"></i>
                    Chính sách bảo mật
                    </a>
                  </li>
                  <li>
                    <a href="">
                      <i class="fas fa-headset"></i>
                    Hỗ Trợ
                    </a>
                  </li>          
                  <li class="dang_xuat">
                    <a href="">
                      <i class="fas fa-sign-out-alt"></i> 
                    Đăng xuất
                    </a>             
                 </li>                  
                </ul>                    
              </li>              
              <li class="bell content-nav_chuong">
            <i class="ti-bell"></i>
            <div class="header__notify">
              <header class="header__notify-header">
                  <h3>Thông Báo Mới Nhận </h3>                 
              </header>
              <ul class="header__notify-list">
                  <li class="header__notify-item header__notify-colorbackround">
                      <a href="" class="header__notify-link">
                      <img src="/img/dichco.jpg" alt="" class="header__notify-img">
                      <div class="header__notify-info">
                          <span class="header__notify-name"> Cai nay là cái tên ở Trên</span>
                          <span class="header__notify-description"> Cai nay là cái tên ở Dưới</span>
                      </div>
                      </a>
                  </li>
              </ul>

              <ul class="header__notify-list">
                  <li class="header__notify-item header__notify-colorbackround">
                      <a href="" class="header__notify-link">
                      <img src="/img/dichco.jpg" alt="" class="header__notify-img">
                      <div class="header__notify-info">
                          <span class="header__notify-name"> Cai nay là cái tên ở Trên</span>
                          <span class="header__notify-description"> Cai nay là cái tên ở Dưới </span>
                      </div>
                      </a>
                  </li>
              </ul>

              <ul class="header__notify-list">
                  <li class="header__notify-item   header__notify-colorbackround">
                      <a href="" class="header__notify-link">
                      <img src="/img/dichco.jpg" alt="" class="header__notify-img">
                      <div class="header__notify-info">
                          <span class="header__notify-name"> Cai nay là cái tên ở Trên</span>
                          <span class="header__notify-description"> Cai nay là cái tên ở Duoi </span>
                      </div>
                      </a>
                  </li>
              </ul>

              <div class="header__notify-footer">
                  <a href="" class="header__notify-footer-btn">   
                  Xem tất cả
                  </a>
              </div>
          </div>
              </li>  
            </ul>   

          </nav>      
     
     
     
     
     
     <!-- ===content__Tong Quan==== -->
         
          <div class="content-container">
            <div class="tieu_de">
              <div class="tieu_de-text">
                Thêm mới phiếu đặt phòng
              </div>
              <div class="tieu_de-huong-dan">
                <a href="">
                <i class="fas fa-exclamation-circle"></i>
                Hướng dẫn
                </a>
              </div>
            </div>
                  

            <div class="noi_dung-1">
              <div class="l-8 m-12 c-12">
              <div class="bang_lon ">
                <div class="noi_dung-1-text_name">Thông tin cơ bản</div>
                
                <div class="noi_dung-1-text_noi-dung">
                  <div class="noi_dung-1-text_noi-dung_hoten">Họ tên</div>
                  <p> (*)</p>
                </div>
                <input class="textarea"  placeholder="Nhập họ và tên"></input>

                  <div class="box">

                    <div class="box-trong l-6">
                      <div class="noi_dung-1-text_noi-dung">
                        <div class="noi_dung-1-text_noi-dung_hoten">CMND</div>
                          <p> (*)</p>
                      </div>              
                      <input class="textarea"  placeholder="Nhập số chứng minh"></input>
                    </div>

                    <div class="box-trong l-4">
                      <div class="noi_dung-1-text_noi-dung ">
                        <div class="noi_dung-1-text_noi-dung_hoten">Số lượng khách</div>
                          <p> (*)</p>
                      </div>              
                      <select class="textarea">
                        <option class="option">Số khách: 1</option>
                        <option class="option">Số khách: 2</option>
                        <option class="option">Số khách: 3</option>
                      </select>
                    </div>
       
                  </div>
              </div>

              <div class=" bang_lon-dong1 ">
                <div class="noi_dung-1-text_name">Thông tin phiếu</div>
                <div class="box">

                  <div class="box-trong l-5">
                    <div class="noi_dung-1-text_noi-dung ">
                      <div class="noi_dung-1-text_noi-dung_hoten">Loại Phòng</div>
                        <p> (*)</p>
                    </div>              
                    <select class="textarea">
                      <option class="option">Phong loại A</option>
                      <option class="option">Phòng loại B</option>
                      <option class="option">Phòng loại C</option>
                    </select>
                  </div>

                  <div class="box-trong l-5">
                  <div class="noi_dung-1-text_noi-dung">
                    <div class="noi_dung-1-text_noi-dung_hoten">Mã phòng đặt</div>
                    <p> (*)</p>
                  </div>
                    <input class="textarea "  placeholder="Nhập mã phòng"></input>
                </div>
{{!-- 
                  <div class="box-trong l-5">
                    <div class="noi_dung-1-text_noi-dung">
                      <div class="noi_dung-1-text_noi-dung_hoten">Mã phiếu thuê phòng</div>
                        <p> (*)</p>
                    </div>
                    <input class="textarea "  placeholder=""></input>
                    
                  </div> --}}

     
                </div>

                
              </div>
            </div>
              

            <div class="l-4 m-0 c-0"> 
              
              <div class=" bang_nho ">
                <div class="noi_dung-1-text_name">Ngày đặt</div>
                
                <div class="noi_dung-1-text_noi-dung">
                  <div class="noi_dung-1-text_noi-dung_hoten">Ngày đến</div>
                  <p> (*)</p>
                </div>
                <input class="textarea" type="datetime-local"></input>

                <div class="noi_dung-1-text_noi-dung">
                  <div class="noi_dung-1-text_noi-dung_hoten">Ngày đi</div>
                  <p> (*)</p>
                </div>
                <input class="textarea"  type="datetime-local"></input>

              </div>

              <div class="bang_nho">
                <div >
                  <div class="noi_dung-1-text_name">Ghi chú</div>
                  <textarea class="bang-text" placeholder="Nhập ghi chú"></textarea>
                </div>
              </div>
            </div> 


            </div>

            <div class="bottom-nav l-12">
              <button class="bottom-nav_huy">
                <a href="#">Hủy</a>              
              </button>

              <div class="bottom-nav_luu">
                <a href="#">Lưu</a>              
              </div>
            </div>
          </div>
        
        <!-- ===content__Tong Quan-end==== -->


        </div>
        <!-- ====content-end==== -->



    </div>

<!-- ===Gop_Y=== -->
    <div class="modal js-modal">
      <div class="modal-container js-modal-container">

          <div class="modal-close js-modal-close">
            <i class="ti-close"></i>
          </div>

          <div class="modal-header">
              Gửi góp ý
          </div>

          <div class="modal-body">
              <input id="quantity" type="text" class="modal-input" placeholder="Vui Lòng nhập góp ý của bạn vào đây !">

              <button class=modal-pay>
                  Gửi 
                  <i class="ti-check"></i>
              </button>

              <div class="modal-footer">
                  <p class="modal-help">
                      Need 
                      <a href="">
                          Help?
                      </a>
                  </p>
              </div>        
          </div>
      </div>

</div>